body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-box {
  background: #1e293b;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  color: white;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  margin-top: 10px;
  list-style: none;
  background: #334155;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}